//
//  SwiftShared.xcconfig
//  ZeeQL3
//
//  Created by Helge Hess on 05/04/17.
//  Copyright © 2017-2019 ZeeZide GmbH. All rights reserved.
//

#include "Base.xcconfig"

// TODO(2019-08-07): Document what this is good for? Old SQLite pickup?
//LIBRARY_SEARCH_PATHS    = $(inherited) $(TOOLCHAIN_DIR)/usr/lib/swift/macosx
//LD_RUNPATH_SEARCH_PATHS = $(inherited) $(TOOLCHAIN_DIR)/usr/lib/swift/macosx
